.container-calendar {
  background: var(--components-background-color);
  width: 80rem;
  height: 60rem;
  border-radius: 3rem;
  box-shadow: var(--shadow);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  .week {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    gap: 1rem;

    &.hidden {
      display: none;
    }

    &.five {
      justify-content: start;
    }

    .day {
        font-size: 1.6rem;
      display: flex;
      padding: 1rem;
      width: 10rem;
      box-shadow: var(--shadow);
      border-radius: 1rem;
      cursor: pointer;
      &:hover {
        transform: scale(1.01);
      }
/* 
      i {
        filter: grayscale(1);
        opacity: 0.4;
      } */

      &.good {
        background: var(--good-background-color);
        i {
          filter: grayscale(0);
          opacity: 1;
        }
      }
      &.bad {
        background: var(--bad-background-color);
        i {
          filter: grayscale(0);
          opacity: 1;
        }
      }
    }
  }
}
